.root {
    width: 200px;
    font-size: 12px;

    border-radius: 2px;

    padding: 5px;

    transition: border-color 200ms ease-in-out;

    border: 2px solid lightgray;
    outline: 0;
}
  
.root:focus {
    border: 2px solid #ffdb4d;
}
